  <div class="container">
    <h1> Form</h1>
    <form [formGroup]="menuFormGroup">
      <div class="form-group">
        <label for="name">Name : </label>
        <input type="text" class="form-control" name="menuName" id="name" formControlName="menuName">
      </div>
  
      <div class="form-group">
        <label for="Email">Email : </label>
        <input type="text" class="form-control" name="menuDescription" id="Email" formControlName="menuDescription">
      </div>
  
      <div class="form-group">
        <label for="Phone">Phone : </label>
        <input type="text" class="form-control" name="linkPage" id="Phone" formControlName="linkPage">
      </div>
  
      <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
  
    </form>
  </div>
  
  